/*
============================================
; Title: Exercise Assignment 7.2 - Javazon
; Author: Scott Whittemore
; Date: 30 November 2022
; Modified by: Scott Whittemore
; Description: additonal css for assignment 7.2
;===========================================
*/

.card-content {
    font-size: 28px;
    text-align: center;
}
/*I centered the <h1> to look more like the final solution*/
.h1 {
    text-align: center;
}
.container {
    padding: 10px;
    width: 600px;
    margin: 3% auto 0;   
}

/* I couldn't figure out how else to move the return link*/
.return-home {
    margin-left: 10px;
}
.card {
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4F3674;
    color: white;
    border: solid 1px #ddd;
}
table td {
    border: solid 1px #ddd;
}
table tr:hover {
    background-color: #D6A800;
    color: #4F3674;
    cursor: pointer;
}

.app-header {
    text-align: center
}