/*
============================================
; Title: Exercise Assignment 4.2 - Number Game
; Author: Scott Whittemore
; Date: 8 November 2022
; Modified by: Scott Whittemore
; Description: additonal css for assignment 4.2
;===========================================
*/

.card-content {
    font-size: 28px;
    text-align: center;
}
/*I centered the <h1> to look more like the final solution*/
h1 {
    text-align: center;
}
#container {
    padding: 10px;
    width: 600px;
    margin: 3% auto 0;   
}

/* I couldn't figure out how else to move the return link*/
.return-home {
    margin-left: 55px;
}
.card {
    margin: auto;
}